.container{
    text-align: center;
    margin: auto;
    padding: 0%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.timer{
    text-align: center;
    font-size: 4rem;
}

.start-btn{
    width : 120px;
    padding: 20px;
    margin: 20px;
    color: green;
    font-weight: 400;
    font-size: larger;
    border: 1px solid green;
}

.pause-btn{
    width : 120px;
    padding: 20px;
    margin: 20px;
    color: red;
    font-weight: 400;
    font-size: larger;
    border: 1px solid red;


}

.reset-btn{
    width : 120px;
    padding: 20px;
    margin: 20px;
    font-weight: 400;
    font-size: larger;
    color: orange;
    border: 1px solid orange;
}

.cast-btn{
    width : 120px;
    padding: 20px;
    margin: 20px;
    font-weight: 400;
    font-size: larger;
    color: black;
    border: 1px solid black;
}